* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

p {
    cursor: pointer;
}

hr {
    width: 100%;
    height: 10px;
    background-color: black;
    margin-top: 10px;
    transform: scaleX(0);
}

div:hover>hr {
    transform: scaleX(1);
    transition: .3s ease;
}